*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
  background-color: whitesmoke;
}

.navbar li{
  list-style: none;
  padding: 5px;
  color: white;
  margin-right: 50px;
  
    
}
.navbar ul{
    display: flex;
    padding: 5px;
    background-color: rgb(0, 71, 171);
    justify-content: right;
}

.basecard{
  padding: 2%;
  margin: 2%;
  display: flex;
  background-color: white;
}

.basecard img{
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.photo{
  width: 30%;
  height: auto;
  margin-top: 1.5%;
  margin-left: 1.5%;
  /* border: 1px solid; */
}

.info{
  padding-top: 4%;
  margin-top: 1.5%;
  margin-left: 5%;
  text-align: center;
  /* border: 1px solid; */
}

.info h1{
  font-size: 9vw;
}

.info p{
  margin-top: 2%;
  font-size: 3vw;
}

.education{
  flex-basis: 0;
}
.subcard{
  width: 50%;
  border: 1px solid;
  margin: 1%;
  padding: 1%;
}

.subcard h1{
  padding: 1%;
}

.subcard h2{
  padding: 1%;
}

.subcard p{
  padding: 1%;
}


.skillcontainer{
  flex-basis:0;
  padding: 1%;
}

.skills h4{
  padding: 0.5%;
}

.skill{
  height: 5px;
  border-radius: 20px;
  background-color: grey;
}